@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@font-face {
  font-family: 'StarJedi'; /* Custom name for the font */
  src: url('./assets/fonts/Starjedi.ttf') format('truetype'); /* Path to Star Jedi font */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'StarJediHollow'; /* Custom name for the font */
  src: url('./assets/fonts/Starjhol.ttf') format('truetype'); /* Path to Star Jedi font */
  font-weight: normal;
  font-style: normal;
}
.videoBg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -2;
}

.videoTag {
  min-height: 100vh;
  min-width: 100vw;
  z-index: -1;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

nav {
  font-family: 'Press Start 2P', system-ui;
  margin: 2.5rem 9.375rem; /* 40px 150px */
  font-size: 3.5rem;
  text-align: end;
  color: white;
}

.home {
  min-width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 3.5rem;
  font-family: 'StarJediHollow';
  font-weight: 900;
  margin: 0;
  color: #298dff;
  letter-spacing: 0.1875rem; /* 3px */
}

h2 {
  font-family: 'StarJedi';
  font-size: 1.7rem;
  font-weight: 500;
  margin: 0;
  letter-spacing: 0.3125rem; /* 5px */
}

h3 {
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
}

.tagline {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: baseline;
  gap: 0.5rem; /* 8px */
}

.links {
  display: flex;
  flex-direction: row;
  gap: 2.5rem; /* 40px */
  margin-top: 0.5rem; /* 8px */
}

.icons {
  color: white;
  cursor: pointer;
}

.about {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  font-family: 'Unbounded';
  color: white;
  gap: 1.5625rem; /* 25px */
  text-align: left;
  background-color: #0a1618;
}

.abt {
  display: flex;
  flex-direction: row-reverse;
  gap: 3.125rem; /* 50px */
}

.abt-right {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex: 1;
  margin-right: 9.375rem; /* 150px */
  font-size: 1.5rem;
  gap: 1.25rem; /* 20px */
  font-weight: 400;
  padding-bottom: 5rem; /* 80px */
  padding-top: 1.25rem; /* 20px */
}

.abt-left {
  flex: 1;
  overflow-x: hidden;
  object-fit: fill;
  margin-left: 9.375rem; /* 150px */
}

a {
  color: #51b896;
  text-decoration: underline;
  cursor: pointer;
}

.laptop {
  object-fit: fill;
  text-align: center;
}

canvas {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact {
  background: none;
  font-size: 2.5rem;
  font-weight: 700;
  color: #51b896;
  outline: none;
  border: none;
  text-decoration: underline;
  font-family: 'Unbounded';
}

.intro-text {
  margin-bottom: 0.9375rem; /* 15px */
  font-size: 1.25rem; /* 20px */
  text-align: justify;
}

.quote {
  margin-top: 1.25rem; /* 20px */
  font-style: italic;
  color: #555;
  text-align: right;
}

.intro-card {
  padding: 1.875rem 2.5rem; /* 30px 40px */
  border-radius: 1rem; /* 16px */
  margin: 1.25rem 0; /* 20px 0 */
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3); /* 0 8px 24px */
  text-align: left;
  line-height: 1.6;
}

.intro-card {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 3%; /* 30px */
  margin: 0.25% 0%; /* 30px 0 */
  margin-left: 5%; /* 90px */
  border-radius: 1rem; /* 16px */
  margin-top: 4%;
  box-shadow: 0 0.375rem 1.5rem rgba(0, 0, 0, 0.2); /* 0 6px 24px */
  width: 60%;
  height: auto;
  text-align: left;
  line-height: 1.6;
  color: #a18dfd;
  font-size: 0.8125rem; /* 13px */
  border: 0.125rem solid pink; /* 2px */
  padding-right: 25%; /* 350px */
}

.inner-card {
  position: absolute;
  top: 5%; /* 20px */
  right: 2%; /* 20px */
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem; /* 8px */
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2); /* 0 4px 16px */
  color: #b31717;
  font-size: 0.875rem; /* 14px */
  border: 0.125rem solid lightblue; /* 2px */
  width: 21%; /* 250px */
  height: 63%; /* 290px */
  text-align: center;
  z-index: 1;
  overflow: hidden;
  margin-top: 2.5%; /* 20px */
}

.inner-card img {
  width: 100%;
  object-fit: cover;
}

.intro-card .intro-title {
  font-size: 1.5rem; /* 24px */
  font-weight: 700;
  margin-bottom: 0.5%; /* 16px */
  color: #e6e6e6;
}

.intro-card .intro-text {
  font-size: 1rem; /* 16px */
  margin-bottom: 1%; /* 10px */
}

.links {
  padding-left: 123%; /* 1020px */
  display: flex;
  gap: 3.75rem; /* 60px */
  justify-content: center;
  margin-top: 2%; /* 20px */
  margin-bottom: 2%; /* 15px */
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 1.875rem; /* 30px */
  font-size: 1.125rem; /* 18px */
  font-family: 'Arial', sans-serif;
}

.icons {
  color: #e6e6e6;
  transition: color 0.3s ease;
}

.icons:hover {
  color: #940000;
}

.scroll {
  margin-top: -2%;
  margin-left: 45%; /* 590px */
}

.intro-text {
  margin-bottom: 1%; /* 15px */
  font-size: 1.25rem; /* 20px */
  text-align: justify;
  font-family: 'Space Mono', monospace;
  line-height: 1.2;
  font-weight: 700;
}
