.contact-container {
  text-align: center;
  background-color: #121212;
  color: #e6e6e6;
  max-width: 100%; 
  margin: 0 auto;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 17.5rem; 
  margin: 1.25rem 0; 
}

.nav-link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #e6e6e6;
  padding: 0.625rem 1.25rem; 
  border-radius: 0.625rem; 
  transition: all 0.3s ease;
}

.contact-header {
  padding: 5% 2%; 
  margin: 0 auto;
  max-width: 54rem; 
}

.contact-header h1 {
  font-size: 3rem;
  margin-bottom: 2%;
  color: #298dff;
}

.split {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5rem; 
  margin: 3% 1%; 
}

.one, .two {
  flex: 1;
  margin-top:5%; 
  font-size: large;
  text-align: justify;
  border: 0.1875rem solid white; 
  border-radius: 6%;
  padding: 1.25rem; 
}

.contact-item {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 0.9375rem; 
}

.contact-item svg {
  margin-right: 4%; 
}

@media (max-width: 64rem) { 
  .split {
    flex-direction: column;
  }
  .one, .split span {
    margin: 0.625rem 0; 
  }
}

@media (max-width: 64rem) { 
  .contact-container {
    padding: 1.25rem; 
  }

  .nav-links {
    flex-direction: column;
    gap: 0.9375rem;
  }
}

@media (max-width: 48rem) {
  .contact-container {
    padding: 0.9375rem; 
  }

  .nav-links {
    flex-direction: column;
    gap: 0.625rem;
  }
}

.two a {
  color: white;
  text-decoration: none;
}

button {
  height: 3.75rem; 
  width: 9.375rem; 
  border-radius: 1.25rem;
  border: 0.1875rem solid white; 
  background-color: hsla(0, 0%, 69%, 0.3);
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8%; 
  margin-bottom: 2%; 
  margin-left: 25%;
}

.two p:hover {
  color: #298dff;
  transition: color 0.3s ease;
}

.two a:hover {
  color: #298dff;
  transition: color 0.3s ease;
}
